.container {
  position: relative;
  height: 80vh;
  //height: 80vh;
  font-family: 'Mono';
  width: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  align-items: center;
  z-index: 4;
  border-radius: 28px;
  justify-content: center;

  @media (max-width: 768px) {
    bottom: 0px;
    padding-left: 0vw;
    padding-right: 0vw;
    justify-content: center;
  }
}

.letter {
  background: #121212;
  padding: 24px;
  border-radius: 4px;
  border: 2px solid var(--color-green);
  @media (max-width: 768px) {
    padding: 4px;
    border-radius: 0px;
  }
}

.close {
  margin-bottom: 12px;
  background: var(--color-green);
  color: black;
  border-style: none;
  font-size: 24px;
  border-radius: 4px;
}

.letterMessage {
  display: grid;
  padding: 20px;
  color: white;
  row-gap: 12px;
  background: #121212;
  border-radius: 4px;

  @media (max-width: 768px) {
    padding: 5vw;
    border-radius: 0px;
  }
}

.letterText {
  font-size: 16px;
  max-width: 75ch;
  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.eventInformation {
  margin-top: 40px;

  @media (max-width: 768px) {
    margin-top: 8px;
  }
}
